<header class="header-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="header-title">¡Bienvenidos a nuestra página web!</h1>
        <p class="header-subtitle">En [Nombre de la Empresa], nos enorgullece ofrecerte los mejores servicios en trabajos de albañilería y construcción. Con la experiencia y habilidades de nuestro contratista especializado, nos destacamos en cada proyecto que emprendemos.</p>
        <p class="header-bg">Ya sea que estés buscando renovar tu hogar, construir un nuevo espacio o realizar reparaciones, estamos aquí para hacer realidad tus sueños. Nuestro compromiso con la calidad, la eficiencia y la satisfacción del cliente nos impulsa a superar tus expectativas en cada paso del camino. Confía en nosotros para ofrecerte soluciones personalizadas, asesoramiento experto y resultados sobresalientes. Nos aseguramos de que cada detalle sea atendido minuciosamente, utilizando materiales de alta calidad y técnicas de construcción avanzadas.</p>
        <p>Confía en nosotros para ofrecerte soluciones personalizadas, asesoramiento experto y resultados sobresalientes. Nos aseguramos de que cada detalle sea atendido minuciosamente, utilizando materiales de alta calidad y técnicas de construcción avanzadas.</p>
        <a class="btn btn-primary" href="#">Ver más</a>
      </div>
      <div class="col-lg-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png" alt="Imagen principal" class="header-image">
      </div>
    </div>
  </div>
</header>
